.noteBox {
    width: 250px;
    height: 250px;
    background: linear-gradient(118deg, rgba(255,255,255,1) 0%, rgba(203,203,203,1) 100%);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 48px;
    padding: 5px;
}

.headerNoteItem {
    width: 100%;
    padding: 10px;
}

.NoteHeaderTitle {
    font-size: 18px;
}

.mainNoteItem {
    width: 100%;
    padding: 5px 10px;
    overflow: hidden;
    margin-bottom: 15px;
}

.mainNoteItem p {
    color: rgba(0, 0, 0, .6);
    font-size: 15px;
}

.footerNoteItem {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border-top: 1px solid rgba(0, 0, 0, .2);
}

.btnBoxFooter{
    display: flex;
    align-items: center;
    gap: 10px;
}

.deleteIconbox {
    background-color: #d12e3e;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
    border-radius: 5px;
    font-size: 22px;
    color: #fff;
    transition: all .3s;
}

.deleteIconbox:hover{
    background-color: #eee;
    color: #d12e3e;
    border: 1px solid #d12e3e;
}

.editIconbox {
    background-color: #0096d6;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
    border-radius: 5px;
    font-size: 22px;
    color: #fff;
    transition: all .3s;
}

.editIconbox:hover{
    background-color: #eee;
    color: #0096d6;
    border: 1px solid #0096d6;
}

.dateNote{
    letter-spacing: 2px;
    color: rgba(0, 0, 0, .6);
}