@import url('https://fonts.googleapis.com/css2?family=Vazirmatn&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Vazirmatn, sans-serif;
  text-decoration: none;
}

body {
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(222deg, rgba(244,67,54,1) 0%, rgba(162,12,1,1) 100%);
}